langchain
langchain_experimental
langchain_openai
langchain-text-splitters
openai
google-api-python-client
boto3
awscli
pydantic
psutil
awscli
pypdf
pandas
matplotlib
tiktoken
textract
transformers
faiss-cpu
rapidocr-onnxruntime
langchain_community
python-dotenv
unstructured
pdf2image
pdfminer.six
pillow_heif
opencv-python
unstructured_inference
pytesseract
unstructured-pytesseract
pikepdf
pymupdf
nltk